{# Template edit.html.twig for PedidosCab #}
{# -------------------------------------------------------#}
{# EDITAR UN REGISTRO. ACCIONES: GUARDAR Y BORRAR         #}
{# -------------------------------------------------------#}
{% extends values.controller ~ '/index.html.twig' %}

{% block navegador %}{% endblock %}

{% block mantenimiento %}
    <form class="form-horizontal margin-top-20" name="manto_{{values.controller}}" id="manto_{{values.controller}}" action="" method="POST" enctype="multipart/form-data">
        <input name="controller" value="{{ values.controller }}" type="hidden" />
        <input name="action" id="action_{{values.controller}}" value="edit" type="hidden" />
        <input name="accion" id="accion_{{values.controller}}" value="" type="hidden" />    
        <input name="{{ values.controller }}[{{values.datos.getPrimaryKeyName}}]" value="{{values.datos.getPrimaryKeyValue}}" type="hidden" />
        {% include '_global/alertas.html.twig' with {'alertas': values.alertas,'errores': values.errores} %}
        {% include values.controller ~ "/form.html.twig" with {'datos': values.datos} %}

        <div class="modal fade" id="dialogMail" tabindex="-1" role="dialogMail" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h2 class="modal-title">Enviar pedido {{values.datos.Id}} por email</h2>
                    </div>
                    <div class="modal-body">                     
                        <div class="form-group">
                            <span class="col-sm-3 control-label"><label class="control-label" for="Para">Para</label></span>
                            <div class="col-sm-8 input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span> 
                                <input class="form-control" type="text" name="Para" id="Para" value="{{values.datos.IdFirma.EmailPedidos}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-sm-3 control-label"><label class="control-label" for="Cc">Con copia</label></span>
                            <div class="col-sm-8 input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input class="form-control" type="text" name="Cc" id="Cc" value="{{values.datos.IdCliente.Email}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-sm-3 control-label"><label class="control-label" for="Cco">Con copia oculta</label></span>
                            <div class="col-sm-8 input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>                          
                                <input class="form-control" type="text" name="Cco" id="Cco" value="{{user.Email}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-sm-3 control-label"><label class="control-label" for="Asunto">Asunto</label></span>
                            <div class="col-sm-8">                           
                                <input class="form-control" type="text" name="Asunto" id="Asunto" value="Pedido"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-sm-3 control-label"><label class="control-label" for="Mensaje">Mensaje</label></span>
                            <div class="col-sm-8">                           
                                <textarea class="form-control" type="text" name="Mensaje" id="Mensaje">Le adjunto pedido n. {{values.datos.Id}}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-sm-3 control-label"><label class="control-label" for="Adjunto">Archivo Adjunto</label></span>
                            <div class="col-sm-8">                           
                                <input class="form-control" type="file" name="Adjunto" id="Adjunto"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="botonMail">Enviar</button>
                    </div>                  
                </div>
            </div>
        </div>    

        <div class="modal fade" id="dialogImportarCsv" tabindex="-1" role="dialogImportarCsv" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h2 class="modal-title">Importar Pedido</h2>
                    </div>
                    <div class="modal-body">
                        <p>Indique un archivo de texto que contenga los códigos y unidades de artículo. 
                            Los dos campos deben venir en ese orden (codigo;unidades) y estar separados por punto y coma (;). 
                            Los campos adicionales serán ignorados. Todos los artículos serán incorporados al pedido en curso.
                        </p>
                        <div class="form-group">
                            <span class="col-sm-3 control-label"><label class="control-label" for="pedidoCsv">Archivo</label></span>
                            <div class="col-sm-9">                           
                                <input class="form-control" type="file" name="pedidoCsv" id="pedidoCsv"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                        {#<button type="button" class="btn btn-primary" onclick="">Importar</button>#}
                    </div>                  
                </div>
            </div>
        </div>        

        <div class="modal fade" id="dialogDuplicar" tabindex="-1" role="dialogDuplicar" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h2 class="modal-title">Duplicar Pedido</h2>
                    </div>
                    <div class="modal-body">
                        <p>Se generará un pedido nuevo en base al actual.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="botonDuplicar">Duplicar</button>
                    </div>                  
                </div>
            </div>
        </div>        
    </form>   
{% endblock %}