{#
  Module: PedidosCab
  Document : modules\PedidosCab\fields.html.twig

  copyright: ALBATRONIC
  date 22.06.2015 23:09:15
#}

<div class="col-md-6">
    {{ macro.select(values.atributos.IdFirma,'Etiqueta',values.controller ~ '[IdFirma]',values.controller ~ '_IdFirma',none,datos.IdFirma.Id,datos.IdFirma.fetchAll('RazonSocial'),'chzn-select','1')}}
    {{ macro.select(values.atributos.IdCliente,'Etiqueta',values.controller ~ '[IdCliente]',values.controller ~ '_IdCliente',none,datos.IdCliente.Id,datos.IdCliente.fetchAll('RazonSocial'),'chzn-select',none,"putDirEntrega(this.value,'PedidosCab_IdDirec')")}}
    {{ macro.select(values.atributos.IdDirec,'Etiqueta',values.controller ~ '[IdDirec]',values.controller ~ '_IdDirec',none,datos.IdDirec.Id,datos.IdCliente.getDirecciones('Direccion'),'chzn-select','3')}}
    {{ macro.select(values.atributos.IdAlmacen,'Etiqueta',values.controller ~ '[IdAlmacen]',values.controller ~ '_IdAlmacen',none,datos.IdAlmacen.Id,datos.IdAlmacen.fetchAll('Nombre'),'chzn-select','4')}}
    {{ macro.select(values.atributos.IdAgente,'Etiqueta',values.controller ~ '[IdAgente]',values.controller ~ '_IdAgente',none,datos.IdAgente.Id,datos.IdAgente.fetchAll('Nombre'),'chzn-select','5')}}
    {{ macro.input(values.atributos.SuPedido,'Etiqueta','text',values.controller ~ '[SuPedido]',values.controller ~ '_SuPedido',datos.SuPedido,'15','CampoTextoCorto','6') }}
    {{ macro.input(values.atributos.Referencia,'Etiqueta','text',values.controller ~ '[Referencia]',values.controller ~ '_Referencia',datos.Referencia,'15','CampoTextoCorto','7') }}
    {{ macro.fecha(values.atributos.Fecha,'Etiqueta',values.controller ~ '[Fecha]',values.controller ~ '_Fecha',datos.Fecha,'10','datepicker','8')}}
    {{ macro.fecha(values.atributos.FechaEntrega,'Etiqueta',values.controller ~ '[FechaEntrega]',values.controller ~ '_FechaEntrega',datos.FechaEntrega,'10','datepicker','9')}}
    {{ macro.select(values.atributos.IdEstado,'Etiqueta',values.controller ~ '[IdEstado]',values.controller ~ '_IdEstado',none,datos.IdEstado.IdEstado,datos.IdEstado.fetchAll('IDTipo'),'chzn-select','34')}}
    {{ macro.select(values.atributos.IdFormaPago,'Etiqueta',values.controller ~ '[IdFormaPago]',values.controller ~ '_IdFormaPago',none,datos.IdFormaPago.Id,datos.IdFormaPago.fetchAll('Descripcion'),'chzn-select','35')}}
    {{ macro.select(values.atributos.IdAgencia,'Etiqueta',values.controller ~ '[IdAgencia]',values.controller ~ '_IdAgencia',none,datos.IdAgencia.Id,datos.IdAgencia.fetchAll('Agencia'),'chzn-select','36')}}
    {{ macro.input(values.atributos.Portes,'Etiqueta','text',values.controller ~ '[Portes]',values.controller ~ '_Portes',datos.Portes,'40','CampoTextoLargo','37') }}
    {{ macro.select(values.atributos.Imprimir,'Etiqueta',values.controller ~ '[Imprimir]',values.controller ~ '_Imprimir',none,datos.Imprimir.Imprimir,datos.Imprimir.fetchAll('IDTipo'),'chzn-select','38')}}
    {{ macro.select(values.atributos.Servido,'Etiqueta',values.controller ~ '[Servido]',values.controller ~ '_Servido',none,datos.Servido.Servido,datos.Servido.fetchAll('IDTipo'),'chzn-select','39')}}
    {{ macro.textarea(values.atributos.Incidencias,'Etiqueta',values.controller ~ '[Incidencias]',values.controller ~ '_Incidencias',datos.Incidencias,none,none,'textarea','33')}}
    {{ macro.textarea(values.atributos.Observations,'Etiqueta',values.controller ~ '[Observations]',values.controller ~ '_Observations',datos.Observations,none,none,'textarea','33')}}    
</div>

<div class="col-md-6">
    {{ macro.input(values.atributos.ComisionAgente,'Etiqueta','text',values.controller ~ '[ComisionAgente]',values.controller ~ '_ComisionAgente',datos.ComisionAgente,'10','CampoImporte','10') }}
    {{ macro.input(values.atributos.ComisionSubagente,'Etiqueta','text',values.controller ~ '[ComisionSubagente]',values.controller ~ '_ComisionSubagente',datos.ComisionSubagente,'10','CampoImporte','11') }}
    {{ macro.input(values.atributos.Descuentos,'Etiqueta','text',values.controller ~ '[Descuentos]',values.controller ~ '_Descuentos',datos.Descuentos,'10','CampoImporte','12') }}
    {{ macro.input(values.atributos.DescuentoProntoPago,'Etiqueta','text',values.controller ~ '[DescuentoProntoPago]',values.controller ~ '_DescuentoProntoPago',datos.DescuentoProntoPago,'10','CampoImporte','13') }}
    {{ macro.input(values.atributos.BaseImponible1,'Etiqueta','text',values.controller ~ '[BaseImponible1]',values.controller ~ '_BaseImponible1',datos.BaseImponible1,'10','CampoImporte','14') }}
    {{ macro.input(values.atributos.Iva1,'Etiqueta','text',values.controller ~ '[Iva1]',values.controller ~ '_Iva1',datos.Iva1,'10','CampoImporte','15') }}
    {{ macro.input(values.atributos.CuotaIva1,'Etiqueta','text',values.controller ~ '[CuotaIva1]',values.controller ~ '_CuotaIva1',datos.CuotaIva1,'10','CampoImporte','16') }}
    {{ macro.input(values.atributos.Recargo1,'Etiqueta','text',values.controller ~ '[Recargo1]',values.controller ~ '_Recargo1',datos.Recargo1,'10','CampoImporte','17') }}
    {{ macro.input(values.atributos.CuotaRecargo1,'Etiqueta','text',values.controller ~ '[CuotaRecargo1]',values.controller ~ '_CuotaRecargo1',datos.CuotaRecargo1,'10','CampoImporte','18') }}
    {{ macro.input(values.atributos.BaseImponible2,'Etiqueta','text',values.controller ~ '[BaseImponible2]',values.controller ~ '_BaseImponible2',datos.BaseImponible2,'10','CampoImporte','19') }}
    {{ macro.input(values.atributos.Iva2,'Etiqueta','text',values.controller ~ '[Iva2]',values.controller ~ '_Iva2',datos.Iva2,'10','CampoImporte','20') }}
    {{ macro.input(values.atributos.CuotaIva2,'Etiqueta','text',values.controller ~ '[CuotaIva2]',values.controller ~ '_CuotaIva2',datos.CuotaIva2,'10','CampoImporte','21') }}
    {{ macro.input(values.atributos.Recargo2,'Etiqueta','text',values.controller ~ '[Recargo2]',values.controller ~ '_Recargo2',datos.Recargo2,'10','CampoImporte','22') }}
    {{ macro.input(values.atributos.CuotaRecargo2,'Etiqueta','text',values.controller ~ '[CuotaRecargo2]',values.controller ~ '_CuotaRecargo2',datos.CuotaRecargo2,'10','CampoImporte','23') }}
    {{ macro.input(values.atributos.BaseImponible3,'Etiqueta','text',values.controller ~ '[BaseImponible3]',values.controller ~ '_BaseImponible3',datos.BaseImponible3,'10','CampoImporte','24') }}
    {{ macro.input(values.atributos.Iva3,'Etiqueta','text',values.controller ~ '[Iva3]',values.controller ~ '_Iva3',datos.Iva3,'10','CampoImporte','25') }}
    {{ macro.input(values.atributos.CuotaIva3,'Etiqueta','text',values.controller ~ '[CuotaIva3]',values.controller ~ '_CuotaIva3',datos.CuotaIva3,'10','CampoImporte','26') }}
    {{ macro.input(values.atributos.Recargo3,'Etiqueta','text',values.controller ~ '[Recargo3]',values.controller ~ '_Recargo3',datos.Recargo3,'10','CampoImporte','27') }}
    {{ macro.input(values.atributos.CuotaRecargo3,'Etiqueta','text',values.controller ~ '[CuotaRecargo3]',values.controller ~ '_CuotaRecargo3',datos.CuotaRecargo3,'10','CampoImporte','28') }}
    {{ macro.input(values.atributos.TotalBases,'Etiqueta','text',values.controller ~ '[TotalBases]',values.controller ~ '_TotalBases',datos.TotalBases,'10','CampoImporte','29') }}
    {{ macro.input(values.atributos.TotalIva,'Etiqueta','text',values.controller ~ '[TotalIva]',values.controller ~ '_TotalIva',datos.TotalIva,'10','CampoImporte','30') }}
    {{ macro.input(values.atributos.TotalRecargo,'Etiqueta','text',values.controller ~ '[TotalRecargo]',values.controller ~ '_TotalRecargo',datos.TotalRecargo,'10','CampoImporte','31') }}
    {{ macro.input(values.atributos.TotalPedido,'Etiqueta','text',values.controller ~ '[TotalPedido]',values.controller ~ '_TotalPedido',datos.TotalPedido,'10','CampoImporte','32') }}    
</div>

{% include '_global/fieldsComunes.html.twig' %}
<div class="clearfix"></div>
{{ macro.foco(values.controller ~ '_IdFirma') }}
