{# Lineas de pedidos #}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ean</th>
            <th>Descripción</th>
            <th>Udes</th>
            <th>Importe</th>
            <th>Estado</th>
            <th>Recibido</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for linea in lineas %}
        <tr>
            <td>{{linea.Ean}}</td>                            
            <td>{{linea.Descripcion}}</td>
            <td class="text-right">{{macro.numero(linea.Unidades)}}</td>                                        
            <td class="text-right">{{macro.moneda(linea.Importe)}}</td>
            <td id="idEstado{{linea.Id}}">{{linea.IdEstado}}</td>
            <td class="text-right">{{macro.numero(linea.UnidadesRecibidas)}}</td>
            <td id="accionAnular{{linea.Id}}">
                {% if linea.IdEstado.IDTipo == 0 and linea.NumeroIntentos > 0 %}
                    <a class="btn btn-primary btn-actions" data-toggle="modal" href="#confirmacionAnulacion" onclick="mensajeAnular('{{linea.iterator|json_encode()}}')">
                        <i class="fa fa-trash-o"></i>Anular
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}                                    
    </tbody>
</table>

<div class="modal fade" id="confirmacionAnulacion" tabindex="-1" role="confirmacionAnulacion" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">¿Realmente desea anular el producto?</h4>
            </div>
            <div id="modalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="botonAnular" data-dismiss="modal">Anular</button>
            </div>                
        </div>
    </div>
</div> 