{# PEDIDOS REITERADOS #}
    <div class="panel panel-danger">
        <div class="panel-heading">PEDIDOS REITERADOS</div>
        <div class="panel-body">
          <p>Aquí se muestran los pedidos que aún no han sido confirmados por las distribuidoras por falta de stock. Estos productos se seguirán solicitando diariamente hasta que se proceda a su anulación</p>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th colspan="6"></th>
                    <th class="text-center" colspan="2">Intentos Pedido</th>
                </tr>
                <tr>
                    <th>N.Pedido</th>
                    <th>Cliente</th>
                    <th>Artículo</th>
                    <th>Distribuidora</th>
                    <th>Udes</th>
                    <th>Fecha</th>
                    <th>Veces</th>
                    <th>Fecha Último</th>
                </tr>
            </thead>
            <tbody>
                {% for linea in pedidos %}
                <tr>
                    <td><a href="{{app.path}}/PedidosCab/edit/{{linea.IdPedido.PrimaryKeyMD5}}" target="_blank">{{linea.IdPedido}}</a></td>
                    <td>{{linea.IdCliente.RazonSocial}}</td>
                    <td>{{linea.Ean}} - {{linea.Descripcion}}</td>
                    <td>{{linea.IdDistribuidora.RazonSocial}}</td>
                    <td class="text-right">{{linea.Unidades}}</td>
                    <td>{{linea.CreatedAt|date('d/m/Y')}}</td>
                    <td class="text-right">{{linea.NumeroIntentos}}</td>
                    <td>{{linea.ModifiedAt|date('d/m/Y')}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>
