{# PEDIDOS CON INCIDENCIA EN LA RECEPCION #}
    <div class="panel panel-danger">
        <div class="panel-heading">PEDIDOS CON INCIDENCIAS EN LA RECEPCIÓN</div>
        <div class="panel-body">
          <p>Aquí se muestran los pedidos que se han recibido parcialmente. Haga la gestión necesaria con la distribuidora o el cliente. En cualquier caso y si el cliente lo quiere, deberá hacer un pedido nuevo. </p>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th class="text-center" colspan="3">Pedido</th>
                    <th colspan="6"></th>                    
                </tr>                
                <tr>
                    <th>Número</th>
                    <th>Distribuidora</th>
                    <th>Vips</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Artículo</th>
                    <th>Distribuidora</th>                    
                    <th>Udes</th>
                    <th>Recibido</th>
                </tr>
            </thead>
            <tbody>
                {% for linea in pedidos %}
                <tr>
                    <td><a href="{{app.path}}/PedidosCab/edit/{{linea.IdPedido.PrimaryKeyMD5}}" target="_blank">{{linea.IdPedido}}</a></td>
                    <td>{{linea.PedidoDistribuidora}}</td>
                    <td>{{linea.PedidoVips}}</td>
                    <td>{{linea.CreatedAt|date('d/m/Y')}}</td>
                    <td>{{linea.IdCliente.RazonSocial}}</td>
                    <td>{{linea.Ean}} - {{linea.Descripcion}}</td>
                    <td>{{linea.IdDistribuidora.RazonSocial}}</td>                    
                    <td class="text-right">{{linea.Unidades}}</td>
                    <td class="text-right">{{linea.RecibidoPlataforma + linea.RecibidoTienda}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>   
