{#
  Module: Clientes
  Document : modules\Clientes\fields.html.twig

  copyright: ALBATRONIC
  date 14.06.2015 19:52:05
#}

<div class="row">
    <div class="col-md-12">
        <input name="solapaActiva" id="solapaActiva" value="{{ values.solapaActiva }}" type="hidden" />    
        <ul class="nav nav-tabs">
            <li class="active"><a href="#general" data-toggle="tab">{%if datos.RazonSocial%}<b>{{macro.recortaTexto(datos.RazonSocial,40)}}</b>{%else%}Cliente{%endif%}</a></li>            
            <li><a href="#tabs-1" data-toggle="tab">Facturación</a></li>
                {% if datos.PrimaryKeyValue %}
                <li><a href="#tabs-2" onclick="cargaDireccionesEntrega('tabs-2');" data-toggle="tab">Dir. Entrega</a></li>
                <li><a href="#tabs-3" onclick="cargaContactos('tabs-3');" data-toggle="tab">Contactos</a></li>
                <li><a href="#tabs-4" data-toggle="tab">Varios</a></li>
                {#<li><a href="#tabs-5" onclick="cargaCondicionesComerciales('tabs-5');" data-toggle="tab">Condiciones Comerciales</a></li>#}           
                <li><a href="#tabs-6" onclick="cargaGraficoVentas('{{datos.Id}}', '0', 'divVentasCliente');cargaGraficoVentasPorFirmas('{{datos.Id}}', '0', 'divVentasPorFirmas');" data-toggle="tab">Gráfico</a></li>             
                {% endif %}
        </ul>

        <div class="tab-content">    

            <div class="tab-pane active" id="general">
                <div class="col-md-6">
                    {{ macro.input(values.atributos.RazonSocial,'Etiqueta','text',values.controller ~ '[RazonSocial]',values.controller ~ '_RazonSocial',datos.RazonSocial,'50','CampoTextoLargo','1') }}
                    {{ macro.input(values.atributos.NombreComercial,'Etiqueta','text',values.controller ~ '[NombreComercial]',values.controller ~ '_NombreComercial',datos.NombreComercial,'50','CampoTextoLargo','2') }}
                    {{ macro.input(values.atributos.Cif,'Etiqueta','text',values.controller ~ '[Cif]',values.controller ~ '_Cif',datos.Cif,'15','CampoTextoCorto','3') }}
                    {{ macro.input(values.atributos.Direccion,'Etiqueta','text',values.controller ~ '[Direccion]',values.controller ~ '_Direccion',datos.Direccion,'50','CampoTextoLargo','4') }}
                    {{ macro.select(values.atributos.IdPais,'Etiqueta',values.controller ~ '[IdPais]',values.controller ~ '_IdPais',none,datos.IdPais.Id,datos.IdPais.fetchAll('Pais'),'chzn-select','5')}}
                    {{ macro.select(values.atributos.IdProvincia,'Etiqueta',values.controller ~ '[IdProvincia]',values.controller ~ '_IdProvincia',none,datos.IdProvincia.Id,datos.IdProvincia.fetchAll('Provincia'),'chzn-select','6')}}
                    {{ macro.select(values.atributos.IdPoblacion,'Etiqueta',values.controller ~ '[IdPoblacion]',values.controller ~ '_IdPoblacion',none,datos.IdPoblacion.Id,datos.IdPoblacion.fetchAll('Municipio'),'chzn-select','7')}}
                    {{ macro.input(values.atributos.CodigoPostal,'Etiqueta','text',values.controller ~ '[CodigoPostal]',values.controller ~ '_CodigoPostal',datos.CodigoPostal,'10','CampoTextoCorto','8') }}
                    {{ macro.input(values.atributos.ApdoCorreos,'Etiqueta','text',values.controller ~ '[ApdoCorreos]',values.controller ~ '_ApdoCorreos',datos.ApdoCorreos,'10','CampoTextoCorto','9') }}   
                </div>
                <div class="col-md-6">
                    {{ macro.input(values.atributos.Vigente,'Etiqueta','checkbox',values.controller ~ '[Vigente]',values.controller ~ '_Vigente',datos.Vigente.IDTipo,'chzn-select','25')}}                       
                    {{ macro.input(values.atributos.Telefono,'Etiqueta','text',values.controller ~ '[Telefono]',values.controller ~ '_Telefono',datos.Telefono,'30','CampoTextoLargo','10') }}
                    {{ macro.input(values.atributos.Fax,'Etiqueta','text',values.controller ~ '[Fax]',values.controller ~ '_Fax',datos.Fax,'30','CampoTextoLargo','11') }}
                    {{ macro.input(values.atributos.Movil,'Etiqueta','text',values.controller ~ '[Movil]',values.controller ~ '_Movil',datos.Movil,'30','CampoTextoLargo','12') }}
                    {{ macro.input(values.atributos.EMail,'Etiqueta','text',values.controller ~ '[EMail]',values.controller ~ '_EMail',datos.EMail,'50','CampoTextoLargo','13') }}
                    {{ macro.input(values.atributos.Web,'Etiqueta','text',values.controller ~ '[Web]',values.controller ~ '_Web',datos.Web,'50','CampoTextoLargo','14') }}
                    {{ macro.select(values.atributos.IdRuta,'Etiqueta',values.controller ~ '[IdRuta]',values.controller ~ '_IdRuta',none,datos.IdRuta.Id,datos.IdRuta.fetchAll('Descripcion'),'chzn-select','16')}}
                    {{ macro.select(values.atributos.IdActividad,'Etiqueta',values.controller ~ '[IdActividad]',values.controller ~ '_IdActividad',none,datos.IdActividad.Id,datos.IdActividad.fetchAll('Descripcion'),'chzn-select','17')}}
                    {{ macro.select(values.atributos.IdGrupoCompras,'Etiqueta',values.controller ~ '[IdGrupoCompras]',values.controller ~ '_IdGrupoCompras',none,datos.IdGrupoCompras.Id,datos.IdGrupoCompras.fetchAll('Descripcion'),'chzn-select','18')}} 
                </div>
            </div>
            <div class="tab-pane" id="tabs-1">
                <div class="col-md-6">
                    {{ macro.input(values.atributos.CContable,'Etiqueta','text',values.controller ~ '[CContable]',values.controller ~ '_CContable',datos.CContable,'10','CampoTextoCorto','15') }} 
                    {{ macro.select(values.atributos.IdFormaPago,'Etiqueta',values.controller ~ '[IdFormaPago]',values.controller ~ '_IdFormaPago',none,datos.IdFormaPago.Id,datos.IdFormaPago.fetchAll('Descripcion'),'chzn-select','19')}}
                    {{ macro.input(values.atributos.DiaDePago,'Etiqueta','text',values.controller ~ '[DiaDePago]',values.controller ~ '_DiaDePago',datos.DiaDePago,'2','CampoUnidades','20') }}
                    {{ macro.input(values.atributos.Iva,'Etiqueta','checkbox',values.controller ~ '[Iva]',values.controller ~ '_Iva',datos.Iva.IDTipo,'chzn-select','21')}}
                    {{ macro.input(values.atributos.RecargoEqu,'Etiqueta','checkbox',values.controller ~ '[RecargoEqu]',values.controller ~ '_RecargoEqu',datos.RecargoEqu.IDTipo,'chzn-select','22')}}                          
                </div>
                <div class="col-md-6">       
                    {{ macro.input(values.atributos.Banco,'Etiqueta','text',values.controller ~ '[Banco]',values.controller ~ '_Banco',datos.Banco,'60','CampoTextoLargo','31') }}
                    {{ macro.input(values.atributos.DireccionBanco,'Etiqueta','text',values.controller ~ '[DireccionBanco]',values.controller ~ '_DireccionBanco',datos.DireccionBanco,'60','CampoTextoLargo','32') }}
                    {{ macro.input(values.atributos.Iban,'Etiqueta','text',values.controller ~ '[Iban]',values.controller ~ '_Iban',datos.Iban,'34','CampoTextoLargo','33') }}
                    {{ macro.input(values.atributos.Bic,'Etiqueta','text',values.controller ~ '[Bic]',values.controller ~ '_Bic',datos.Bic,'11','CampoTextoCorto','34') }}
                    {{ macro.input(values.atributos.Mandato,'Etiqueta','text',values.controller ~ '[Mandato]',values.controller ~ '_Mandato',datos.Mandato,'35','CampoTextoLargo','35') }}
                    {{ macro.fecha(values.atributos.FechaMandato,'Etiqueta',values.controller ~ '[FechaMandato]',values.controller ~ '_FechaMandato',datos.FechaMandato,'10','datepicker','36')}}
                </div> 
            </div>
            {% if datos.PrimaryKeyValue %}            
                <div class="tab-pane" id="tabs-2"></div>
                <div class="tab-pane" id="tabs-3"></div>
                <div class="tab-pane" id="tabs-4">
                    <div class="col-md-6">
                        <table class="table table-striped">
                            <thead><tr><th colspan="2">Códigos para cada Firma</th></tr></thead>
                            <tbody>
                                {% for key,item in datos.RelacionFirmas %}
                                    <tr>
                                        <td>{{item.Nombre}}</td>
                                        <td><input type="text" value="{{item.Codigo}}" onblur="actualizaRelacionValor('Clientes', '{{datos.primaryKeyValue}}', 'Firmas', '{{key}}', $(this).val())"/></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">    
                        {{ macro.radio(values.atributos.Sexo,'Etiqueta',values.controller ~ '[Sexo]',values.controller ~ '_Sexo',datos.Sexo.IDTipo,datos.Sexo.fetchAll(none,false),'Select') }}                              
                        {{ macro.radio(values.atributos.Tratamiento,'Etiqueta',values.controller ~ '[Tratamiento]',values.controller ~ '_Tratamiento',datos.Tratamiento.IDTipo,datos.Tratamiento.fetchAll(none,false),'Select') }}                        
                        {{ macro.fecha(values.atributos.FechaNacimiento,'Etiqueta',values.controller ~ '[FechaNacimiento]',values.controller ~ '_FechaNacimiento',datos.FechaNacimiento,'10','datepicker','27')}}
                        {{ macro.input(values.atributos.Login,'Etiqueta','text',values.controller ~ '[Login]',values.controller ~ '_Login',datos.Login,'50','CampoTextoLargo','28') }}
                        {{ macro.input(values.atributos.Password,'Etiqueta','text',values.controller ~ '[Password]',values.controller ~ '_Password',datos.Password,'50','CampoTextoLargo','29') }}
                        {{ macro.input(values.atributos.Catalogos,'Etiqueta','text',values.controller ~ '[Catalogos]',values.controller ~ '_Catalogos',datos.Catalogos,'11','CampoImporte','30') }}                        
                        {{ macro.textarea(values.atributos.Observations,'Etiqueta','Clientes[Observations]','Clientes_Observations',datos.Observations,none,none,'TextArea')}}
                        {{ macro.textarea(values.atributos.Avisos,'Etiqueta','Clientes[Avisos]','Clientes_Avisos',datos.Avisos,none,none,'TextArea')}}
                    </div>            
                </div>
                {#<div class="tab-pane" id="tabs-5"></div>#}
                <div class="tab-pane" id="tabs-6">
                    <div class="col-md-3">
                    <div class="form-group">
                        <select class="form-control" onchange="cargaGraficoVentas('{{datos.Id}}', this.value, 'divVentasCliente');cargaGraficoVentasPorFirmas('{{datos.Id}}', this.value, 'divVentasPorFirmas');">
                            <option value="0">Todos los años</option>
                            <option value="1">Últimos 12 meses</option>
                        </select>
                    </div>
                    </div>
                    <div class="row margin-bottom-20">
                        <div class="col-md-12" id="divVentasCliente"></div>
                    </div>
                    <div class="row margin-bottom-20">
                        <div class="col-md-12" id="divVentasPorFirmas"></div>
                    </div>
                </div> 
            {% endif %}  
        </div>
    </div>
</div>
{{ macro.foco(values.controller ~ '_RazonSocial') }}
