{# EMAIL DE CONFIRMACION DE PEDIDO DE CLIENTE #}
<html>
    <head>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
        <link href="{{appUrl}}/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="{{appUrl}}/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
        <link href="{{appUrl}}/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="{{appUrl}}/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
        <link href="{{appUrl}}/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
        <link href="{{appUrl}}/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>
        <link href="{{appUrl}}/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css"/>
        <link href="{{appUrl}}/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css"/>
        <link href="{{appUrl}}/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css"/>
        <!-- END PAGE LEVEL PLUGIN STYLES -->
        <!-- BEGIN PAGE STYLES -->
        <link href="{{appUrl}}/assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
        <!-- END PAGE STYLES -->
        <!-- BEGIN THEME STYLES -->
        <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
        <link href="{{appUrl}}/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
        <link href="{{appUrl}}/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
        <link href="{{appUrl}}/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
        <link href="{{appUrl}}/assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
        <link href="{{appUrl}}/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <p>Estimado cliente</p>
        <p>Se ha tramitado su pedido {{pedido.Id}} de fecha {{pedido.Fecha|date('d/m/Y')}} por encargo en la tienda VIPS {{pedido.IdSucursal.Direccion}} fr los siguientes artículos:

        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Unidades</th>
                    <th>Precio</th>
                    <th>Situación</th>
                </tr>
            </thead>
            <tbody>
            {% for linea in pedido.getLineas %}
                {% if linea.IdEstado.PrimaryKeyValue == 3 %}
                    {% set estado = "Pendiente de recibir" %}
                {% elseif linea.IdEstado.PrimaryKeyValue == 4 or linea.IdEstado.PrimaryKeyValue == 5 %}
                    {% set estado = "Recibido en tienda" %}                
                {% else %}
                    {% set estado = linea.IdEstado.Descripcion %}
                {% endif %}
                <tr>
                    <td>{{linea.Ean}}</td>
                    <td>{{linea.Descripcion}}</td>
                    <td class="text-right">{{linea.Unidades}}</td>
                    <td class="text-right">{{linea.Precio}}</td>
                    <td class="text-right">{{estado}}</td>                    
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">Total</td>
                    <td class="text-right">{{pedido.NItems}}</td>
                    <td class="text-right">{{pedido.Importe}}</td>
                </tr>
            </tfoot>
        </table>
    </body>
</html>
