{#
  Module: PedidosLineas
  Document : modules\PedidosLineas\fields.html.twig

  copyright: ALBATRONIC
  date 22.06.2015 23:09:11
#}
{% extends values.controller  ~ '/index.html.twig' %}

{% block listado %}
    <div class="row">
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">Artículo</th>
                    <th class="text-center">Descripción</th>
                    <th class="text-center">Udes</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center" colspan="3">% Descuentos</th>
                    <th class="text-center">Importe</th>
                    <th class="text-center">Iva</th>
                    <th class="text-center">Comisión</th>
                    <th class="text-center">Pte Fact.</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for keyLinea,linea in values.listado.data %}
                <form name="formLinea{{keyLinea}}" id="formLinea{{keyLinea}}" method="post">
                    <input type="hidden" name="controller" value="PedidosLineas"/>
                    <input type="hidden" name="action" id="action{{keyLinea}}" value=""/>
                    <input type="hidden" name="accion" id="accion{{keyLinea}}" value=""/>
                    <input type="hidden" name="PedidosLineas[Id]" value="{{linea.Id}}"/>
                    <input type="hidden" name="PedidosLineas[IdPedido]" value="{{linea.IdPedido.Id}}"/>
                    <tr>
                        <td>
                            <input type="hidden" id="codigo{{keyLinea}}" value="{{linea.IdArticulo.Codigo}}"/>
                            <input type="hidden" name="PedidosLineas[IdArticulo]" id="IdArticulo{{keyLinea}}" value="{{linea.IdArticulo.Id}}"/>
                            <input class="form-control input-small" autocomplete="off" spellcheck="false" type="text" id="Codigo{{keyLinea}}" value="{{linea.IdArticulo.Codigo}}"
                                   onkeyup="autoCompleteArticulo('{{keyLinea}}', '{{linea.IdFirma.Id}}', '');" onblur="$(this).val($('#codigo{{keyLinea}}').val());"/> 
                        </td>
                        <td><input class="form-control input-large" type="text" name="PedidosLineas[Descripcion]" id="Descripcion{{keyLinea}}" value="{{linea.Descripcion}}"/></td>
                        <td><input class="text-right form-control" style="width: 70px;" type="text" name="PedidosLineas[Unidades]" id="Unidades{{keyLinea}}" value="{{linea.Unidades}}"/></td>
                        <td><input class="text-right form-control" style="width: 80px;" type="text" name="PedidosLineas[Precio]" id="Precio{{keyLinea}}" value="{{linea.Precio}}"/></td>
                        <td><input class="text-right form-control" style="width: 55px;" type="text" name="PedidosLineas[Descuento1]" id="Descuento1{{keyLinea}}" value="{{linea.Descuento1}}"/></td>
                        <td><input class="text-right form-control" style="width: 55px;" type="text" name="PedidosLineas[Descuento2]" id="Descuento2{{keyLinea}}" value="{{linea.Descuento2}}"/></td>
                        <td><input class="text-right form-control" style="width: 55px;" type="text" name="PedidosLineas[Descuento3]" id="Descuento3{{keyLinea}}" value="{{linea.Descuento3}}"/></td>
                        <td><input class="text-right form-control" style="width: 80px;" type="text" name="PedidosLineas[Importe]" id="Importe{{keyLinea}}" value="{{linea.Importe}}" onblur="{% if keyLinea == 0 %}crear({{keyLinea}});{% else %}guardar({{keyLinea}});{% endif %}"/></td>
                        <td><input class="text-right form-control" style="width: 55px;" type="text" name="PedidosLineas[Iva]" id="Iva{{keyLinea}}" value="{{linea.Iva}}"/></td>
                        <td><input class="text-right form-control" style="width: 55px;" type="text" name="PedidosLineas[ComisionAgente]" id="ComisionAgente{{keyLinea}}" value="{{linea.ComisionAgente}}"/></td>
                        <td class="text-right">{{linea.UnidadesPtesFacturar}}</td>
                        <td>
                            <div  id="botonera{{keyLinea}}">
                            {% if linea.Id %}
                                <button class="btn primary" style="float:left; margin-right: 0px !important;" onclick="return guardar({{keyLinea}});"><i class="fa fa-save"></i></button>
                                <button class="btn primary" style="float:left; margin-right: 0px !important;" onclick="borrar({{keyLinea}});"><i class="fa fa-trash"></i></button>
                                {% else %}
                                <button class="btn primary" style="float:left; margin-right: 0px !important;" onclick="return crear({{keyLinea}});"><i class="fa fa-save"></i></button>                                
                                {% endif %}
                            </div>
                            <div id="espere{{keyLinea}}" class="hidden text-center"><img src="/assets/global/img/loading-spinner-blue.gif"/></div>
                        </td>
                    </tr>
                </form>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{#
{{ macro.select(values.atributos.IdPedido,'Etiqueta',values.controller ~ '[IdPedido]',values.controller ~ '_IdPedido',none,datos.IdPedido.IdPedido,datos.IdPedido.fetchAll('Id'),'chzn-select','1')}}
{{ macro.select(values.atributos.IdFirma,'Etiqueta',values.controller ~ '[IdFirma]',values.controller ~ '_IdFirma',none,datos.IdFirma.IdFirma,datos.IdFirma.fetchAll('Id'),'chzn-select','2')}}
{{ macro.select(values.atributos.IdFamilia,'Etiqueta',values.controller ~ '[IdFamilia]',values.controller ~ '_IdFamilia',none,datos.IdFamilia.IdFamilia,datos.IdFamilia.fetchAll('Id'),'chzn-select','3')}}
{{ macro.select(values.atributos.IdArticulo,'Etiqueta',values.controller ~ '[IdArticulo]',values.controller ~ '_IdArticulo',none,datos.IdArticulo.IdArticulo,datos.IdArticulo.fetchAll('Id'),'chzn-select','4')}}
{{ macro.input(values.atributos.Descripcion,'Etiqueta','text',values.controller ~ '[Descripcion]',values.controller ~ '_Descripcion',datos.Descripcion,'255','CampoTextoLargo','5') }}
{{ macro.input(values.atributos.Unidades,'Etiqueta','text',values.controller ~ '[Unidades]',values.controller ~ '_Unidades',datos.Unidades,'10','CampoImporte','6') }}
{{ macro.input(values.atributos.Precio,'Etiqueta','text',values.controller ~ '[Precio]',values.controller ~ '_Precio',datos.Precio,'10','CampoImporte','7') }}
{{ macro.input(values.atributos.Descuento1,'Etiqueta','text',values.controller ~ '[Descuento1]',values.controller ~ '_Descuento1',datos.Descuento1,'10','CampoImporte','8') }}
{{ macro.input(values.atributos.Descuento2,'Etiqueta','text',values.controller ~ '[Descuento2]',values.controller ~ '_Descuento2',datos.Descuento2,'10','CampoImporte','9') }}
{{ macro.input(values.atributos.Descuento3,'Etiqueta','text',values.controller ~ '[Descuento3]',values.controller ~ '_Descuento3',datos.Descuento3,'10','CampoImporte','10') }}
{{ macro.input(values.atributos.Importe,'Etiqueta','text',values.controller ~ '[Importe]',values.controller ~ '_Importe',datos.Importe,'10','CampoImporte','11') }}
{{ macro.input(values.atributos.Iva,'Etiqueta','text',values.controller ~ '[Iva]',values.controller ~ '_Iva',datos.Iva,'10','CampoImporte','12') }}
{{ macro.input(values.atributos.ComisionAgente,'Etiqueta','text',values.controller ~ '[ComisionAgente]',values.controller ~ '_ComisionAgente',datos.ComisionAgente,'10','CampoImporte','13') }}
{{ macro.input(values.atributos.ComisionSubagente,'Etiqueta','text',values.controller ~ '[ComisionSubagente]',values.controller ~ '_ComisionSubagente',datos.ComisionSubagente,'10','CampoImporte','14') }}
{{ macro.input(values.atributos.UnidadesPtesFacturar,'Etiqueta','text',values.controller ~ '[UnidadesPtesFacturar]',values.controller ~ '_UnidadesPtesFacturar',datos.UnidadesPtesFacturar,'10','CampoImporte','15') }}
{{ macro.select(values.atributos.Facturar,'Etiqueta',values.controller ~ '[Facturar]',values.controller ~ '_Facturar',none,datos.Facturar.Facturar,datos.Facturar.fetchAll('IDTipo'),'chzn-select','16')}}
{{ macro.input(values.atributos.NivelJerarquico,'Etiqueta','text',values.controller ~ '[NivelJerarquico]',values.controller ~ '_NivelJerarquico',datos.NivelJerarquico,'4','CampoUnidades','17') }}
{{ macro.select(values.atributos.Publish,'Etiqueta',values.controller ~ '[Publish]',values.controller ~ '_Publish',none,datos.Publish.Publish,datos.Publish.fetchAll('IDTipo'),'chzn-select','18')}}
#}
