{#
  Module: PedidosLineas
  Document : modules\PedidosLineas\list.html.twig

  copyright: ALBATRONIC
  date 22.06.2015 23:09:11
#}

{% extends values.controller  ~ '/index.html.twig' %}

{% block listado %}

        <div class="row">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Artículo</th>
                        <th class="text-center">Descripción</th>
                        <th class="text-center">Udes</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center" colspan="3">% Descuentos</th>
                        <th class="text-center">Importe</th>
                        <th class="text-center">Iva</th>
                        <th class="text-center">Comisión</th>
                        <th class="text-center">Pte Fact.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for keyLinea,linea in values.listado.data %}
                        <tr>
                            <td>{{linea.IdArticulo.Codigo}}</td>
                            <td>{{linea.Descripcion}}</td>
                            <td class="text-right">{{linea.Unidades}}</td>
                            <td class="text-right">{{macro.moneda(linea.Precio)}}</td>
                            <td class="text-right">{{linea.Descuento1}}</td>
                            <td class="text-right">{{linea.Descuento2}}</td>
                            <td class="text-right">{{linea.Descuento3}}</td>
                            <td class="text-right">{{macro.moneda(linea.Importe)}}</td>
                            <td class="text-right">{{linea.Iva}} %</td>
                            <td class="text-right">{{linea.ComisionAgente}} %</td>
                            <td class="text-right">{{linea.UnidadesPtesFacturar}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}